@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;

		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;

		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;

		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;

		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;

		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;

		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;

		--destructive: 0 72.2% 50.6%;
		--destructive-foreground: 0 0% 98%;

		--ring: 240 10% 3.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;

		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;

		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;

		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;

		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;

		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;

		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;

		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--ring: 240 4.9% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}


@layer components {
	.svelecte {
	  --sv-min-height: 40px;
	  --sv-bg: #32363f;
	  --sv-disabled-bg: #eee;
	  --sv-border: 1px solid #626262;
	  --sv-border-radius: 4px;
	  --sv-general-padding: 4px;
	  --sv-control-bg: var(--sv-bg);
	  --sv-item-wrap-padding: 3px 3px 3px 6px;
	  --sv-item-selected-bg: #626262;
	  --sv-item-btn-color: #ccc;
	  --sv-item-btn-color-hover: #ccc;
	  --sv-item-btn-bg: #626262;
	  --sv-item-btn-bg-hover: #bc6063;
	  --sv-icon-color: #bbb;
	  --sv-icon-color-hover: #ccc;
	  --sv-icon-bg: transparent;
	  --sv-icon-size: 20px;
	  --sv-separator-bg: #626262;
	  --sv-btn-border: 0;
	  --sv-placeholder-color: #ccccd6;
	  --sv-dropdown-bg: var(--sv-bg);
	  --sv-dropdown-border: var(--sv-border);
	  --sv-dropdown-offset: 1px;
	  --sv-dropdown-width: auto;
	  --sv-dropdown-shadow: 0 1px 3px #555;
	  --sv-dropdown-height: 320px;
	  --sv-dropdown-active-bg: #553d3d;
	  --sv-dropdown-selected-bg: #754545;
	  --sv-create-kbd-border: 1px solid #626262;
	  --sv-create-kbd-bg: #626262;
	  --sv-create-disabled-bg: #fcbaba;
	  --sv-loader-border: 2px solid #626262;
	}	
}